.vehicle-info {
    padding: 20px;
    display: none;
    display: flex;
    flex-wrap: wrap;
}

.vehicle-info__price-table {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.vehicle-info__price-item {
    text-align: left;
    margin-bottom: 10px;
}

.vehicle-info__image-container {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vehicle-info__image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 400px;
    height: 300px;
}

.vehicle-info__model-name {
    margin-top: 10px;
    font-size: 1.2em;
}

.vehicle-info__header {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: bold;
}
