/* Estilos generales y fuentes */

@font-face {
    font-family: 'Gliker Black Semi Condensed';
    src: url('../assets/fonts/Gliker-BlackSemiCondensed.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gliker Regular';
    src: url('../assets/fonts/Gliker-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Gliker Regular', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8efd2; /* Fondo de la página */
    color: #2b2137; /* Color de texto principal */
}

img {
    max-width: 100%;
    height: auto;
}

/* Estilos del Hero Banner */

.hero {
    background-color: #2b2137; /* Fondo oscuro para la hero section */
    color: white;
    text-align: center;
    padding: 0; /* Eliminar el padding */
    margin: 0;
    width: 100%; /* Asegurar que ocupe el 100% del ancho */
}

.hero__banner {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/* Estilos del Navbar */

.navbar {
    background-color: #2b2137; /* Fondo oscuro */
    overflow: hidden;
    width: 100%;
    margin: 0; /* Eliminar margen */
    padding: 0; /* Eliminar padding */
    display: flex;
    justify-content: center; /* Centrar los elementos de la navbar */
}

.navbar__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Alineación central de la lista */
}

.navbar__item {
    margin: 0 10px; /* Espacio entre los elementos */
}

.navbar__link {
    display: block;
    color: #509397; /* Fuente teal */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em; /* Tamaño de fuente más grande */
    border-radius: 20px; /* Redondear el borde */
}

.navbar__link:hover {
    background-color: #EF7C3F; /* Fondo del botón al pasar el cursor */
    color: #509397; /* Fuente teal */
    border-radius: 20px; /* Redondear el borde */
}

/* Estilos de la Lista de Modelos */

.model-list {
    padding: 20px;
    background-color: #f8efd2; /* Fondo de la página */
}

.model-list__item a {
    color: #2b2137; /* Color de texto principal */
    text-decoration: none;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.model-list__item a:hover {
    background-color: #EF7C3F; /* Fondo del botón al pasar el cursor */
    color: #509397; /* Fuente teal */
    border-radius: 20px; /* Redondear el borde */
}

/* Estilos de la Información del Vehículo */

.vehicle-info {
    padding: 20px;
    display: none;
    display: flex;
    flex-wrap: wrap;
    background-color: #f8efd2; /* Fondo de la página */
    position: relative;
    justify-content: center; /* Centrar el contenido */
}

.vehicle-info__header-container {
    width: 100%;
    text-align: center;
    padding-bottom: 20px; /* Añadir padding inferior */
    display: flex;
    flex-direction: row; /* En línea con el logo */
    align-items: center;
    justify-content: center;
}

.vehicle-info__header {
    font-size: 2.5em; /* Tamaño de fuente más grande */
    font-family: 'Gliker Black Semi Condensed', Arial, sans-serif;
    font-weight: bold;
    color: #2b2137; /* Color de texto principal */
    margin-left: 10px; /* Espacio entre el logo y el título */
}

.vehicle-info__logo {
    width: 150px; /* Tamaño más grande */
    height: auto;
    cursor: pointer;
}

.vehicle-info__price-table {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.vehicle-info__price-item {
    text-align: left;
    margin-bottom: 10px;
    color: #2b2137; /* Color de texto principal */
}

.vehicle-info__image-container {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vehicle-info__image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 400px;
    height: 300px;
    border: 2px solid #2b2137; /* Borde oscuro */
}

.vehicle-info__model-name {
    margin-top: 10px;
    font-size: 1.2em;
    color: #2b2137; /* Color de texto principal */
}

.vehicle-info__buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.vehicle-info__button {
    background-color: #EF7C3F; /* Fondo del botón */
    color: #509397; /* Fuente del botón */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px; /* Aumentar tamaño de fuente */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px; /* Redondear el borde */
    font-family: 'Gliker Black Semi Condensed', Arial, sans-serif; /* Fuente del botón */
}

.vehicle-info__button:hover {
    background-color: #509397; /* Fondo del botón al pasar el cursor */
    color: #EF7C3F; /* Fuente del botón al pasar el cursor */
    border-radius: 20px; /* Redondear el borde */
}

/* Estilos de la sección de historia */

.history {
    padding: 20px;
    background-color: #f8efd2; /* Fondo de la página */
    color: #2b2137; /* Color de texto principal */
    text-align: justify;
}

.history__title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.history__image {
    max-width: 80%;
    height: auto;
    margin: 0 auto 20px auto;
}

/* Estilos de la lista de precios */
.price-list {
    padding: 20px;
    background-color: #f8efd2; /* Fondo de la página */
}

.price-list__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px; /* Espacio entre el logo y el nombre de la marca */
}

.price-list__logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.price-list__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Espacio entre tablas */
}

.price-list__table th, .price-list__table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #509397; /* Color de la línea */
}

.price-list__table th {
    background-color: #509397; /* Fondo del encabezado */
    color: #f8efd2; /* Color de la fuente del encabezado */
}

.price-list__table tr:nth-child(even) {
    background-color: #EF7C3F; /* Fondo de las filas pares */
    color: #f8efd2; /* Color de la fuente de las filas pares */
}
