/* Estilos generales y fuentes */
@font-face {
    font-family: 'Gliker Black Semi Condensed';
    src: url('assets/fonts/Gliker-BlackSemiCondensed.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gliker Regular';
    src: url('assets/fonts/Gliker-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Gliker Regular', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8efd2; /* Fondo de la página */
    color: #2b2137; /* Color de texto principal */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

img {
    max-width: 100%;
    height: auto;
}

/* Estilos del Banner */
.banner {
    background-color: #2b2137; /* Mismo color que la navbar */
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%; /* Asegurar que ocupe el 100% del ancho */
}

.banner-image {
    width: 100%; /* Asegurar que la imagen del banner ocupe el 100% del ancho */
    height: auto;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/* Estilos de la Navbar */
.navbar {
    background-color: #2b2137;
}

.navbar__link {
    font-size: 1.2em; /* Tamaño de las letras más grande */
    color: #f8efd2;
}

/* Estilos de la sección de bienvenida */
.welcome {
    text-align: center;
    padding: 40px;
    background-color: #f8efd2; /* Fondo de la página */
}

.welcome h1 {
    font-size: 2.5em;
    font-family: 'Gliker Black Semi Condensed', Arial, sans-serif;
    color: #2b2137; /* Color de texto principal */
}

.welcome p {
    font-size: 1.2em;
    color: #2b2137; /* Color de texto principal */
}

/* Estilos del carrusel */
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8efd2; /* Fondo de la página */
    position: relative;
}

.carousel__container {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
}

.carousel__image {
    flex: none;
    width: 300px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #2b2137;
}

/* Estilos de la Información del Vehículo */

.vehicle-info {
    padding: 20px;
    background-color: #f8efd2; /* Fondo de la página */
    position: relative;
    margin-top: 40px; /* Separar del resto de la página */
}

.vehicle-info__header-container {
    width: 100%;
    color: #f8efd2; /* Color de texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    display: flex;
    align-items: center; /* Alinear verticalmente el logo y el nombre */
    justify-content: space-between;
}

.vehicle-info__logo {
    width: 100px; /* Tamaño del logo */
    height: auto;
    cursor: pointer;
}

.vehicle-info__header {
    font-size: 2em; /* Tamaño de fuente */
    font-family: 'Gliker Black Semi Condensed', Arial, sans-serif;
    font-weight: bold;
    flex: 1;
    text-align: center;
}

.vehicle-info__content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.vehicle-info__prices {
    flex: 1;
    margin-right: 20px;
}

.vehicle-info__price-item {
    text-align: left;
    margin-bottom: 10px;
    color: #2b2137; /* Color de texto principal */
}

.vehicle-info__image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vehicle-info__image {
    width: 300px; /* Ajustar tamaño fijo */
    height: 300px; /* Ajustar tamaño fijo */
    object-fit: cover;
    border: 2px solid #2b2137; /* Borde oscuro */
}

.vehicle-info__model-name {
    margin-top: 10px;
    font-size: 1.2em;
    color: #2b2137; /* Color de texto principal */
    text-align: center;
}

.vehicle-info__buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.vehicle-info__button {
    background-color: #EF7C3F; /* Fondo del botón */
    color: #509397; /* Fuente del botón */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px; /* Aumentar tamaño de fuente */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px; /* Redondear el borde */
    font-family: 'Gliker Black Semi Condensed', Arial, sans-serif; /* Fuente del botón */
}

.vehicle-info__button:hover {
    background-color: #509397; /* Fondo del botón al pasar el cursor */
    color: #EF7C3F; /* Fuente del botón al pasar el cursor */
    border-radius: 20px; /* Redondear el borde */
}

/* Estilos del footer */
.footer {
    background-color: #2b2137;
    color: #f8efd2;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilos del Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #f8efd2;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.modal-logo {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.modal-title {
    font-size: 1.5em;
    font-weight: bold;
}

.modal-image-container {
    text-align: center;
    margin-bottom: 20px;
}

.modal-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.modal-body {
    font-size: 1em;
    line-height: 1.5;
}

/* Media Queries */

/* Tablets */
@media (max-width: 768px) {
    .navbar__link {
        font-size: 1em; /* Reducir el tamaño de las letras */
    }

    .welcome h1 {
        font-size: 2em; /* Reducir el tamaño del título */
    }

    .welcome p {
        font-size: 1em; /* Reducir el tamaño del párrafo */
    }

    .carousel__image {
        width: 250px; /* Reducir el tamaño de las imágenes del carrusel */
        height: 150px; /* Reducir el tamaño de las imágenes del carrusel */
    }

    .vehicle-info__header {
        font-size: 1.5em; /* Reducir el tamaño del encabezado */
    }

    .vehicle-info__content {
        flex-direction: column; /* Cambiar a una columna para mejor visualización */
    }

    .vehicle-info__image-container,
    .vehicle-info__prices {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .vehicle-info__image {
        width: 250px; /* Reducir el tamaño de la imagen */
        height: 250px; /* Reducir el tamaño de la imagen */
    }

    .vehicle-info__button {
        font-size: 16px; /* Reducir el tamaño de las letras de los botones */
        padding: 8px 16px; /* Reducir el padding de los botones */
    }
}

/* Móviles */
@media (max-width: 480px) {
    .navbar__link {
        font-size: 0.8em; /* Reducir aún más el tamaño de las letras */
    }

    .welcome h1 {
        font-size: 1.5em; /* Reducir el tamaño del título */
    }

    .welcome p {
        font-size: 0.9em; /* Reducir el tamaño del párrafo */
    }

    .carousel__image {
        width: 200px; /* Reducir aún más el tamaño de las imágenes del carrusel */
        height: 120px; /* Reducir aún más el tamaño de las imágenes del carrusel */
    }

    .vehicle-info__header {
        font-size: 1.2em; /* Reducir el tamaño del encabezado */
    }

    .vehicle-info__image {
        width: 200px; /* Reducir aún más el tamaño de la imagen */
        height: 200px; /* Reducir aún más el tamaño de la imagen */
    }

    .vehicle-info__button {
        font-size: 14px; /* Reducir aún más el tamaño de las letras de los botones */
        padding: 6px 12px; /* Reducir el padding de los botones */
    }
}

/* Ajustes adicionales para asegurar que el contenido se vea bien en todas las pantallas */
@media (max-width: 1024px) {
    .vehicle-info__header {
        font-size: 1.8em; /* Ajustar el tamaño del encabezado */
    }

    .vehicle-info__prices, .vehicle-info__image-container {
        margin-bottom: 20px; /* Añadir margen inferior para separar mejor las secciones */
    }
}

/* Estilos específicos para dispositivos muy pequeños */
@media (max-width: 360px) {
    .navbar__link {
        font-size: 0.7em; /* Reducir aún más el tamaño de las letras */
    }

    .welcome h1 {
        font-size: 1.2em; /* Reducir el tamaño del título */
    }

    .welcome p {
        font-size: 0.8em; /* Reducir el tamaño del párrafo */
    }

    .carousel__image {
        width: 180px; /* Reducir el tamaño de las imágenes del carrusel */
        height: 100px; /* Reducir el tamaño de las imágenes del carrusel */
    }

    .vehicle-info__header {
        font-size: 1em; /* Reducir el tamaño del encabezado */
    }

    .vehicle-info__image {
        width: 180px; /* Reducir el tamaño de la imagen */
        height: 180px; /* Reducir el tamaño de la imagen */
    }

    .vehicle-info__button {
        font-size: 12px; /* Reducir el tamaño de las letras de los botones */
        padding: 4px 8px; /* Reducir el padding de los botones */
    }
}
