body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

h2 {
    color: #333;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px; /* Ajustar el margen para mantener los botones más juntos */
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

form {
    margin-top: 20px;
}

form,
button,
#numerosInput,
#resultado2 {
    display: inline-block;
    text-align: left; /* Asegurarse de que el texto esté alineado a la izquierda */
}

.code {
    background-color: #1e1e1e; /* Fondo negro como en VSCode */
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    overflow: auto;
    color: #d4d4d4; /* Color del texto */
}

code {
    white-space: pre-wrap; 
    display: block;
}

.keyword {
    color: #569cd6; /* Azul para palabras clave */
}

.function {
    color: #dcdcaa; /* Amarillo para nombres de funciones */
}

.variable {
    color: #9cdcfe; /* Azul claro para variables */
}

.string {
    color: #ce9178; /* Marrón para strings */
}

.number {
    color: #b5cea8; /* Verde para números */
}

.comment {
    color: #6a9955; /* Verde oscuro para comentarios */
}

.operator {
    color: #d4d4d4; /* Blanco para operadores */
}
