.travel-news {
    grid-area: aside;
    background-color: #f9f9f9;
}

.aside-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.aside-container h2 {
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 20px; /* Espacio entre el título y las tarjetas */
    text-align: center; /* Centrar el texto */
    font-family: 'Feeling Passionate', cursive;
    font-size: 25px;
}

.news-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.news-card img {
    width: 100%;
    height: 200px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.news-card h3 {
    margin: 10px 0;
    font-size: 20px;
}

.news-card p {
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
