.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.footer-hacia-rutas-salvajes {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.footer p {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.5);
}
