header {
    position: relative;
    height: auto; /* O ajusta según el tamaño del banner */
}

.banner-container {
    position: relative;
    width: 100%; /* Para que el contenedor del banner ocupe el 100% del ancho */
    overflow: hidden; /* Para asegurar que los elementos dentro no se desborden */
    padding: 0; /* Eliminar el relleno alrededor de la imagen del banner */
}

.header-hacia-rutas-salvajes {
    width: 100%; /* Para que la imagen del banner ocupe el 100% del ancho */
}

.navbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
}

.navbar ul {
    list-style: none;
    padding: 5px;
    margin: 0;
    text-align: center; /* Centra los elementos horizontalmente */
}

.navbar ul li {
    display: inline-block;
    margin-right: 20px; /* Espacio entre elementos de navegación */
}

.navbar ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento de la lista */
}

.navbar ul li a {
    font-family: 'Feeling Passionate', cursive;
    color: #fff; /* Color del texto blanco */
    text-decoration: none; /* Sin subrayado */
    padding: 10px 30px; /* Espacio alrededor del texto */
    transition: all 0.3s ease; /* Transición suave */
    font-size: 30px; /* Tamaño de la fuente */
}

.navbar ul li a:hover {
    background-color: rgba(224, 182, 248, 0.2);
    border-radius: 5px; /* Añade bordes redondeados en hover */
}
