.navbar {
    background-color: #2b2137; /* Fondo oscuro */
    overflow: hidden;
    width: 100%;
}

.navbar__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar__item {
    float: left;
}

.navbar__link {
    display: block;
    color: #509397; /* Fuente teal */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px; /* Redondear el borde */
}

.navbar__link:hover {
    background-color: #EF7C3F; /* Fondo del botón al pasar el cursor */
    color: #509397; /* Fuente teal */
    border-radius: 20px; /* Redondear el borde */
}
