<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item"><a href="#" onclick="showModels('volkswagen')" class="navbar__link">Volkswagen</a></li>
        <li class="navbar__item"><a href="#" onclick="showModels('mercedes')" class="navbar__link">Mercedes-Benz</a></li>
        <li class="navbar__item"><a href="#" onclick="showModels('ford')" class="navbar__link">Ford</a></li>
        <li class="navbar__item"><a href="#" onclick="showModels('citroen')" class="navbar__link">Citroën</a></li>
    </ul>
</nav>
