<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item"><a class="navbar__link" href="#" onclick="showModels('volkswagen')">Volkswagen</a></li>
        <li class="navbar__item"><a class="navbar__link" href="#" onclick="showModels('mercedes')">Mercedes-Benz</a></li>
        <li class="navbar__item"><a class="navbar__link" href="#" onclick="showModels('ford')">Ford</a></li>
        <li class="navbar__item"><a class="navbar__link" href="#" onclick="showModels('citroen')">Citroën</a></li>
    </ul>
</nav>
