/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.header {
    background-color: #ffffff;
    color: white;
    text-align: center;
    border-bottom: 4px solid black;
}

.header__logo {
    width: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: white;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.form-and-records {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

/* Estilos para el formulario */
.form {
    background-color: white;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 5px;
    width: 100%; /* Ajuste al 100% del contenedor */
    box-sizing: border-box;
    border: none;
    box-shadow: none;
}

.form__group {
    margin-bottom: 15px;
    text-align: left;
}

.form__label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form__input, .form__select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: none;
}

/* Alinear campos de fecha y hora en la misma línea */
.form__group-inline {
    display: flex;
    justify-content: space-between;
}

.form__group-inline .form__input {
    width: 48%;
}

.form__buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; /* Evitar que los botones se muevan a la siguiente fila */
    margin-top: 20px;
}

.form__button {
    flex: 1;
    margin: 0 5px; /* Espaciado entre botones */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

.form__button:hover {
    background-color: #45a049;
}

.btn-cancel {
    background-color: #f44336;
}

.btn-cancel:hover {
    background-color: #e53935;
}

.btn-view-citas {
    background-color: #008CBA;
}

.btn-view-citas:hover {
    background-color: #007BB5;
}

/* Estilos para las modales */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    max-width: 90%;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: none; /* Eliminar sombras */
    border: none; /* Eliminar bordes */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Ajustar el contenido para pantallas más grandes */
@media (min-width: 768px) {
    .modal-content {
        max-width: 700px; /* Limitar el ancho en pantallas más grandes */
    }
}

/* Posicionamiento de la X para cerrar */
.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    color: #333;
    cursor: pointer;
    z-index: 1001; /* Asegura que siempre esté encima del contenido */
}

.modal-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.modal-button:hover {
    background-color: #45a049;
}

/* Estilos para citas guardadas */
.cita-nueva {
    background-color: green;
    color: white;
    padding: 5px;
    margin: 5px 0;
    border-radius: 4px;
}

.cita-revision {
    background-color: orange;
    color: white;
    padding: 5px;
    margin: 5px 0;
    border-radius: 4px;
}

/* Carrusel */
.carousel__container {
    width: 100%;
    height: auto;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.carousel__wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel__slide {
    min-width: 250px;
    height: 200px;
    margin: 0 15px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    z-index: 0;
}

.carousel__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: none;
    cursor: pointer;
}

.carousel__slide--active {
    transform: scale(1.2) rotateY(5deg);
    box-shadow: none;
}

/* Estilos para la ampliación de la imagen al pasar el ratón */
.carousel__slide:hover img {
    transform: scale(1.1);
    box-shadow: none;
    z-index: 2;
}

/* Media queries */
@media (max-width: 1024px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .form, .records-view {
        width: 90%;
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    .form__buttons {
        flex-direction: column; /* Cambiar a disposición en columnas en pantallas pequeñas */
    }

    .form__button {
        margin-bottom: 10px; /* Espaciado vertical en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .header__logo {
        max-width: 100px;
    }

    .breed-image, .breed-image-preview {
        width: 80px;
        height: 80px;
    }

    .modal-content {
        margin: 30% auto;
    }
}
